*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Smythe", sans-serif;
}

p, input {
    line-height: 1.5;
}

button {
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    /* Stop collapsing margins */
    padding-bottom: 1px;
    padding-top: 1px;
}

/* Header styling */
header {
    background-image: url('./images/amie-watson-qeVpw7i2Wi0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 200px;
    padding: 1px;
    color: #FFFFFF;
    /* text-shadow: 0.07em 0 black,
                  0 0.07em black,
                  -0.07em 0 black,
                  0 -0.07em black; */
                  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;

}

.header-container {
    margin-top: 1.2em;
    text-align: center;
}

.company-header {
    font-size: 6rem;
    margin: 0;
}

.company-slogan {
    font-size: 2rem;
}

/* Item styling */
.item-container {
    margin: 0 auto 3em;
}

.item-card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    width: 90%;
    padding-top: 3em;
    padding-bottom: 3em;
}

.item-graphic {
    font-size: 5rem;
}

.item-example-image {
    width: 60px;
    height: 60px;
}

.item-information {
    width: 80%;
    margin-left: 2em;
}

.item-name {
    font-size: 1.75rem;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-price {
    font-size: 1.25rem;
}

.item-btn {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 200;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
    background-color: #FFFFFF;
}

/* Order styling */
.order-container {
    display: none;
    width: 90%;
    margin: 0 auto 3em;
}

.order-header {
    font-size: 1.75rem;
    margin-bottom: 2.25em;
    text-align: center;
}

.order-item-container {
  border-bottom: 2px solid #393333;
  padding-bottom: 2em;
}

.order-item-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.75rem;
}

.remove-order-btn {
  border: 0;
  color: #BBBBBB;
  background-color: #FFFFFF;
  font-size: 0.75rem;
  font-family: 'Verdana', sans-serif;
  margin-right: auto;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.75rem;
    margin: 0.5em 0 1.75em;
}

.complete-order-btn {
    width: 100%;
    background-color: #16DB99;
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
    padding: 1.5em;
    border-radius: 3px;
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
}

.tips-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75em;
    gap: 0.5em;
}

.tips {
    font-size: 1rem;
    padding: 1.5em;
    background-color: lightgreen;
    border: 1px solid #16DB99;
    border-radius: 4px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    font-family: 'Verdana', sans-serif;
}

.tips-selected,
.tips:focus {
    background-color: #16DB99;
    color: #FFFFFF;
}


/* Payment form styling */
.payment-container {
    display: none;
    padding: 1.5em;
    width: 90%;
    margin: auto;
    max-width: 575px;
    height: fit-content;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 200px 50px rgba(0,0,0,.5);
    border-radius: 4px;
    font-family: 'Verdana', sans-serif;
}

.payment-header {
    font-size: 1.5rem;
    margin-bottom: 2em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1.3px solid #757575;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 4px;
    margin-bottom: 1.5em;
    font-family: 'Verdana', sans-serif;
    font-size: 1.25em;
}

.pay-btn {
    background-color: #16DB99;
    color: #FFFFFF;
    font-family: 'Verdana', sans-serif;
    font-size: 1.25rem;
    border: 0;
    border-radius: 4px;
    padding: 1.2em;
}

/* Confirmation styling */
.confirmation-container {
    display: none;
    width: 90%;
    margin: 0 auto 3rem;
    background-color: #ECFDF5;
    color: #065F46;
    padding: 3em;
    border-radius: 3px;
    text-align: center;
}

.confirmation-text {
    font-size: 1.75rem;
}

.rating-text {
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.review-stars {
    font-size: 3rem;
}

/* These styles are applied by default.
   They will also override the hover
   style for all stars to the right
   of the currently hovered star. */
.rate span, .rate span:hover ~ span {
    color: #222;
}
  
.rate:hover span {
    color: #fc0;
}
  
  /* Make the effect apply one star at a
     time. Limiting the selector to when
     .rate is hovered removes the effect
     without delay when cursor leaves
     the .rate area. */
.rate:hover span:nth-child(2) {
    transition-delay: 30ms;
}
  
.rate:hover span:nth-child(3) {
    transition-delay: 60ms;
}
  
.rate:hover span:nth-child(4) {
    transition-delay: 90ms;
}
  
.rate:hover span:nth-child(5) {
    transition-delay: 120ms;
}

.rate span {
    cursor: pointer;
}