:root {
    --main-font-family: "Smythe", sans-serif;
    --secondary-font-family: "Verdana", sans-serif;
    --button-background-color: #16DB99;
    --item-border-separator: #D2D2D2;
    --item-ingredients-color: #8B8B8B;
    --white-color: #FFFFFF;
    --light-grey-color: #BBBBBB;
    --add-item-border-color: #DEDEDE;
    --add-item-color: #3C3C3C;
    --total-separator-color: #393333;
    --input-border-color: #757575;
    --confirmation-background-color: #ECFDF5;
    --confirmation-color: #065F46;
    --standard-border-radius: 4px;
    --unselected-star-color: #222;
    --selected-star-color: #fc0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Generic styling */

body {
    font-family: var(--main-font-family);
    color: #000000;
}

p, input {
    line-height: 1.5;
}

.btn {
    cursor: pointer;
}

.container {
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    /* Stop collapsing margins */
    padding-bottom: 1px;
    padding-top: 1px;
}

.container,
.item-container,
.order-container,
.payment-container,
.confirmation-container {
    width: 90%;
}

.item-card,
.order-item-card,
.total-price-card,
.complete-order-btn {
    width: 100%;
}

.confirmation-container,
.header-container,
.tips-container,
.payment-header,
.confirmation-container,
.order-container {
    text-align: center;
}

.order-container,
.payment-container,
.confirmation-container {
    display: none;
}

.order-item-card,
.item-card,
.order-item-card,
.total-price-card,
.tips-container,
form {
    display: flex;
    justify-content: space-between;
    
}

.tips,
.payment-container,
input,
.pay-btn,
.confirmation-container {
    border-radius: var(--standard-border-radius);
}

.item-container,
.order-container {
    margin: 0 auto 3em;
}

/* Typography - Start */
.company-header {
    font-size: 6rem;
}

.item-graphic {
    font-size: 5rem;
}

.review-stars {
    font-size: 3rem;
}

.company-slogan,
.add-item-btn {
    font-size: 2rem;
}

.item-name,
.order-header,
.order-item-card,
.total-price-card,
.confirmation-text {
    font-size: 1.75rem;
}

.payment-header {
    font-size: 1.5rem;
}

.item-price,
.pay-btn,
input,
.rating-text {
    font-size: 1.25rem;
}

.complete-order-btn,
.tips {
    font-size: 1rem;
}

.remove-order-btn {
    font-size: 0.75rem;
}

.remove-order-btn,
.complete-order-btn,
.tips,
.payment-container,
.pay-btn
input {
    font-family: var(--secondary-font-family);
}

/* Typography - End */

/* Header styling - Start */
header {
    background-image: url('./images/amie-watson-qeVpw7i2Wi0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 200px;
    padding: 1px;
    color: var(--white-color);
    text-shadow:  0.05em 0 black,
                  0 0.05em black,
                  -0.05em 0 black,
                  0 -0.05em black,
                  -0.05em -0.05em black,
                  -0.05em 0.05em black,
                  0.05em -0.05em black,
                  0.05em 0.05em black;

}

.header-container {
    margin-top: 1.2em;
}

.company-header {
    margin: 0;
}

/* Header styling - End */

/* Item styling - Start */
.item-card {
    align-items: center;
    border-bottom: 1px solid var(--item-border-separator);
    padding: 3em 0;
}

.item-details {
    /* Don't shrink to fit the content */
    width: 70%;
    margin-left: 1em;
}

.item-ingredients {
    color: var(--item-ingredients-color);
}

.add-item-btn {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-weight: 200;
    border: 1.5px solid var(--add-item-border-color);
    color: var(--add-item-color);
    background-color: var(--white-color);
}

/* Item styling - End */

/* Order styling - Start */
.order-header {
    margin-bottom: 2.25em;
}

.order-item-container {
    border-bottom: 2px solid var(--total-separator-color);
    padding-bottom: 2em;
}

.remove-order-btn {
    border: 0;
    color: var(--light-grey-color);
    background-color: var(--white-color);
    /* Position button to the left */
    margin-right: auto;
}

.total-price-card {
    margin: 0.5em 0 1.75em;
}

.complete-order-btn {
    background-color: var(--button-background-color);
    color: var(--white-color);
    font-weight: 700;
    border: 0;
    padding: 1.5em;
}

.tips-container {
    margin-bottom: 0.75em;
    gap: 0.5em;
}

.tips {
    padding: 1.5em;
    background-color: var(--light-grey-color);
    width: 20%;
    color: var(--white-color);
}

.tips-selected,
.tips:hover {
    background-color: var(--button-background-color);
    color: var(--white-color);
}

/* Order styling - Start */

/* Payment form styling - Start */
.payment-container {
    padding: 1.5em;
    margin: auto;
    max-width: 575px;
    height: fit-content;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 200px 50px rgba(0,0,0,.5);
}

.payment-header {
    margin-bottom: 2em;
}

form {
    flex-direction: column;
}

input {
    border: 1.3px solid var(--input-border-color);
    padding: 1em 1.5em 1em 1.5em;
    margin-bottom: 1.5em;
}

.pay-btn {
    background-color: var(--button-background-color);
    color: var(--white-color);
    border: 0;
    padding: 1.2em;
}

/* Payment form styling - End */

/* Confirmation styling - Start */
.confirmation-container {
    margin: 0 auto 3rem;
    background-color: var(--confirmation-background-color);
    color: var(--confirmation-color);
    padding: 3em;
}

.rating-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Confirmation styling - End */

/******* I googled the effect for this ********/

/* These notes are for my own benefit :)

~ - subsequent-sibling combinator

.rate span:hover ~ span - all span elements that are siblings of the current
                          .rate span:hover and that come after the current element being hovered */
.rate span, .rate span:hover ~ span {
    color: var(--unselected-star-color);
}
  
.rate:hover span {
    color: var(--selected-star-color);
}
  
/* Make the effect apply one star at a time. Limiting the selector to when
   .rate is hovered removes the effect without delay when cursor leaves
     the .rate area. */
.rate:hover span:nth-child(2) {
    transition-delay: 30ms;
}
  
.rate:hover span:nth-child(3) {
    transition-delay: 60ms;
}
  
.rate:hover span:nth-child(4) {
    transition-delay: 90ms;
}
  
.rate:hover span:nth-child(5) {
    transition-delay: 120ms;
}
